html{
	font-family: 'Indie Flower', cursive;
	font-family: 'Raleway', sans-serif;
	font-family: 'Nunito', sans-serif;
/*	font-family: 'Nunito Sans', sans-serif;
*/
	overflow-x: hidden;
}

.titlePage{
	height: 97vh;
	padding: 10px;
	/*  -webkit-animation-iteration-count: infinite;*/
}

.textContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.mainHeader{
	font-size: 6rem;
	text-align:center;
	line-height: 20%;
	-webkit-animation-delay: 0.7s;
}

.slogan{
	text-align: center;
	font-size: 2.5em;
	-webkit-animation-delay: 1.4s;
}

.socialMediaIcons{
	position: absolute;
	margin-top: -5%;
	left: 25%;
}
/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

.twitter{
	-webkit-animation-delay: 2.1s;
}
.facebook{
	-webkit-animation-delay: 2.5s;
}
.google-plus{
	-webkit-animation-delay: 2.9s;
}

/*#section06 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg06.jpg) center center / cover no-repeat;}
*/


#section06 a {
	padding-top: 70px;
	display: none;	
}
#section06 a span {
	position: absolute;
	bottom: 25%;
	left: 48%;
	width: 65px;
	height: 65px;
	margin-left: -12px;
	border-left: 1.5px solid #000;
	border-bottom: 1.5px solid #000;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	-webkit-animation: sdb06 1.5s infinite;

	/*  animation: sdb06 1.5s infinite;*/
	box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
	0% {
		-webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb06 {
	0% {
		transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

.aboutMePage{
	height: 100vh;
	padding: 10px;
}
.topicsPage{
	height: 97vh;
	padding: 10px;

}
.latestPage{
	height: 97vh;
	padding: 10px;

}
.futurePage{
	background-color:green;
	height: 97vh;
	padding: 10px;
}
.contactPage{
	height: 97vh;
	padding: 10px;
}
/*img{
	position: relative;
	width:  22%;
	height: 12.5em;
	margin: 0.75rem;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
	max-width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}*/

.topicsHeader{
	text-align: center;
	font-size: 2.5em;
/*	margin-top: -.5%;
*/}
.topRow{
	position: relative;
	top: 3%;
	left: 15%;
}
.botRow{
	position: relative;
	top: 10%;
	left: 15%;
}

.container {
	position: relative;
	width: 22%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #00b8d4;
}

.container:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}
.fa-snapchat-ghost {
	background: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.hrContacts {
	background-color: #dbdbdb;
	border: none;
	display: block;
	height: 1px;
	margin: 1rem 0;
	position: relative;
	left:12.5%;
	width: 75%;
}
.hrProjects {
	background-color: #dbdbdb;
	border: none;
	display: block;
	height: 1px;
	margin: 1rem 0;
	width: 100%;
}
.iconHolder{
	position: absolute;
	left: 13.5%;
	/*	top: 40%;*/
}

.rightlist{
	display: inline-block; 
	width: 40%;
}
.leftlist{
	margin-left: 12%;
	display: inline-block; 
	width: 40%;
}

ul.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right:5%;
/*	-webkit-animation-duration: 3s;
-webkit-animation-delay: 2.5s;*/
	color: #000;
	font-size: 100%;
}

li.navbar{
	display: inline;
	margin:5px;
}
a{
	text-decoration: none;
	/*color: blue;*/
	color:black;
}
a:hover{
	/*color:#ff8100;*/
}
/*li:nth-child(1){
-webkit-animation-delay: 2.1s;
2.1 or 3.3
} */

.firstChoice{
	-webkit-animation-delay: 4.1s;
	-webkit-animation-duration:3s;
}
.secondChoice{
	-webkit-animation-delay: 3.9s;
	-webkit-animation-duration:3s;
}
.thirdChoice{
	-webkit-animation-delay: 3.7s;
	-webkit-animation-duration:3s;
}
.fourthChoice{
	-webkit-animation-delay: 3.5s;
	-webkit-animation-duration:3s;
}
.fifthChoice{
	-webkit-animation-delay: 3.3s;
	-webkit-animation-duration:3s;
}
.gator{
	width: 7.5%;
	height: 7.5%;
	position: absolute;
	top: 2%;
	left:50%;

}

  .autoplay{
  	width: 25%;
 	height: 25%;
  	box-shadow: 2px 8px 40px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	position: absolute; 	
	right: 20%;
  }

 .imginCar{
 	width: 100%;
 	height:100%;
 
 }

 .gif{
 	width:25%;
 	height:25%;
 	position: absolute;
 	right: 8%;
  }
  .materialContainer{
  	margin-left: 8%;
  	margin-right: 8%; 
  	margin-top: 5%; /* included for mac but idk this needs fixing */
/*  	margin-bottom: -2.5%;
*/  }
  .sidebyside{
  	list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    margin-left: -7%;
  }
.rightlistLove{
	display: inline-block; 
	width: 40%;
	margin-left: 7%;
}
.leftlistAbout{
	margin-left: 8%;
	display: inline-block; 
	width: 40%;
}
.blue{
	color:blue;
}
.orange{
	color:orange;
}
.liText{
	color: black;
}
.bulletpointssize{
	font-size: .75em;
}
/*  				W3 Tabs 
/* Style the tab */
/*.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}*/

/* Style the buttons inside the tab */
/*.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}*/

/* Change background color of buttons on hover */
/*.tab button:hover {
    background-color: #ddd;
}*/

/* Create an active/current tablink class */
/*.tab button.active {
    background-color: #ccc;
}*/

/* Style the tab content */
.tabcontent {
    display: none;
/*    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;*/
}
#Accenture, #Web{
	display: block;
}
.tabcontent2 {
    display: none;
/*    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;*/
}


.wrapper{
  text-align:center;
  /*margin:50px auto;*/
  margin-top: -2%;
}

.tabs{
  margin-top:50px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* #046ae8   #f79102 gator colors*/
  /*original colors #05abe0     #8200f4*/
  background: #046ae8;

  background: -moz-linear-gradient(75deg, #046ae8 0%, #f79102 100%);
  background: -webkit-linear-gradient(75deg, #046ae8 0%,#f79102 100%);
  background: linear-gradient(75deg, #046ae8 0%,#f79102 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}

.tabBullets{
	margin-left: 8%;
  	margin-right: 8%;
}
.companyLogo{
	margin-left: 37%;
	/*margin-top: 0%;*/
	width: 25%;
	height: 25%;
}
.thdlogo{
	margin-left: 40%;
	/*margin-top: 0%;*/
	width: 20%;
	height: 20%;
}

.wrapper2{
  text-align:center;
  /*margin:50px auto;*/
  margin-top: -2%;
}

.tabs2{
  margin-top:50px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs2 a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs2 a.active{
  color:#fff;
}

.tabs2 a i{
  margin-right:5px;
}

.tabs2 .selector2{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* #046ae8   #f79102 gator colors*/
  /*original colors #05abe0     #8200f4*/
  background: #046ae8;

  background: -moz-linear-gradient(75deg, #046ae8 0%, #f79102 100%);
  background: -webkit-linear-gradient(75deg, #046ae8 0%,#f79102 100%);
  background: linear-gradient(75deg, #046ae8 0%,#f79102 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}

